<div class="container">

<ul class="nav nav-pills">
  <li role="presentation" class="success"><a href="#"><h4><span class="glyphicon glyphicon-registration-mark"></span>tacuentos</h4></a></li>
  <li role="presentation"><a href="#"><h4><label class="label label-danger"><span class="glyphicon glyphicon-time"></span> rota {{moment-from-now nextDate}}</label></h4></a></li>
</ul>

<div class="progress">
  <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: {{timePorcentaje}}%">
    <span>{{timePorcentaje}}%</span>
  </div>
</div>

  <div class="alert alert-info" role="alert">
<h6>Somos {{numReaders}} niñ@s que compartimos libros, cambiándolos semanalmente 
para leerlos todos. Cada uno hemos leído, desde {{moment-from-now initDate}}, {{numRed}} y nos faltan por leer {{numLeft}}.
</h6>

<p>Si yo fuera el {{numRandom}}º de la lista...
 {{#power-select
  		options=readers
  		matchTriggerWidth=false
  		selected=currentReader
  		onchange=(action (mut currentReader))
  		as |reader|
  	}}
  	  <strong>{{reader}}</strong>
  	{{/power-select}}
    ...estaría leyendo el {{numBook}}º cuento <strong>'{{currentBook}}'</strong>, que me dejó <strong>{{donater}}</strong> {{moment-from-now lastDate}}, y yo se lo pasaré a <strong>{{reciver}}</strong> {{moment-from-now nextDate}}.
</p>
<h4><label class="label label-warning"><span class="glyphicon glyphicon-forward"></span> {{moment-format nextDate}}</label></h4>
  </div>

<div class="progress">
  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{numRed}}" aria-valuemin="0" aria-valuemax="{{numReaders}}" style="width: {{redPorcentaje}}%">
    <span>{{redPorcentaje}}%</span>
  </div>
    <label class="label label-danger">{{numRed}} de {{numBooks}}</label>
</div>
</div>
<!--footer>{{moment-format initDate}} - {{moment-format endDate}}</footer-->